# Import libraries
- `pandas` to process data
- `os` to access folders and files

In [2]:
import pandas as pd
import os

# Read CSVs
- list all filenames in folder `./input`
  - if it's a CSV file, read it
  - leave only washing machines
  - count such rows and count mean value

In [26]:
count = 0
overall_cost = 0

for filename in os.listdir('./input'):
  if filename.endswith('.csv'):
    print('processing file ' + filename)

    items = pd.read_csv('./input/' + filename)

    # leave only rows that have `productgroup == WASHINGMACHINES`
    machines = items[items.productgroup == 'WASHINGMACHINES']

    count += len(machines)             # number of such rows
    overall_cost += sum(machines.cost) # summ all costs in current file


# find overall average among all files
avg_cost = overall_cost // count

processing file items2.csv
processing file items1.csv
processing file items3.csv

In [27]:
print(f'machine count: {count}')
print(f'avg cost: {avg_cost}')

machine count: 75
avg cost: 146

# Write Excel
- create 3 columns - 'category', 'cnt', 'avg_cost'
- insert row - Machines and it's count, USBs and it's count

In [28]:
rows = [
    ['Machines', count, avg_cost]
]
output = pd.DataFrame(rows, columns=['category', 'cnt', 'avg_cost'])
output.to_excel('./machines.xlsx', index=False)

# Send email
- Read Excel file we've jst created
- Send data as email (over Gmail)

In [29]:
machines = pd.read_excel('machines.xlsx')
machines.head()

   category  cnt  avg_cost
0  Machines   75       146

In [19]:
import smtplib

fromaddr = 'anthony@gmail.com'
toaddrs  = 'john.doe@gmail.com'
email = f'''
We have the following inventory in the warehouse:

Machines: 
- count: {int(machines[machines.category == 'Machines'].cnt)}
- average cost: ${int(machines[machines.category == 'Machines'].avg_cost)}

Yours, ACME
'''

server = smtplib.SMTP('smtp.gmail.com:587')
server.starttls()
server.login('username@gmail.com', 'password')
server.sendmail(fromaddr, toaddrs, msg)
server.quit()

In [20]:
print(email)

We have the following inventory in the warehouse:

Machines:
- count: 75
- average cost: $146

Yours, ACME