# Import libraries
- `pandas` to process data
- `os` to access folders and files

In [2]:
import pandas as pd
import os

# Read CSV sample

In [31]:
data = pd.read_csv('./input/items1.csv')
data.head()

,Unnamed: 0,id,productgroup,main_text,manufacturer,cost
0,0,26229701,WASHINGMACHINES,WAQ284E25,BOSCH,167
1,1,16576864,USB MEMORY,LEEF IBRIDGE MOBILE SPEICHERERWEITERUNG FUER I...,LEEF,101
2,2,26155618,USB MEMORY,SANDISK 32GB ULTRA FIT USB 3.0,NaN,125
3,3,25646138,BICYCLES,HOLLANDRAD DAMEN 28 ZOLL TUSSAUD 3-GAENGE RH 5...,SCHALOW & KROH GMBH,143
4,4,19764614,BICYCLES,DAHON SPEED D7 SCHWARZ ? FALTRAD,DAHON,195

# Read all CSVs in folder
- list all filenames in folder `./input`
  - if it's a CSV file, read it
  - leave only washing machines
  - count such rows and count mean value

In [26]:
count = 0
overall_cost = 0

for filename in os.listdir('./input'):
  if filename.endswith('.csv'):
    print('processing file ' + filename)

    items = pd.read_csv('./input/' + filename)

    # leave only rows that have `productgroup == WASHINGMACHINES`
    machines = items[items.productgroup == 'WASHINGMACHINES']

    count += len(machines)             # number of such rows
    overall_cost += sum(machines.cost) # summ all costs in current file


# find overall average among all files
avg_cost = overall_cost // count

processing file items2.csv
processing file items1.csv
processing file items3.csv

In [27]:
print(f'machine count: {count}')
print(f'avg cost: {avg_cost}')

machine count: 75
avg cost: 146

# Create Excel file
- create row - Machines and it's count and avg cost
- create 3 columns - 'category', 'cnt', 'avg_cost'
- save to file

In [28]:
rows = [
    ['Machines', count, avg_cost]
]
output = pd.DataFrame(rows, columns=['category', 'cnt', 'avg_cost'])
output.to_excel('./machines.xlsx', index=False)

# Send email
- Read Excel file we've jst created
- Send data as email (over Gmail)

In [29]:
machines = pd.read_excel('machines.xlsx')
machines.head()

   category  cnt  avg_cost
0  Machines   75       146

In [32]:
import smtplib

fromaddr = 'anthony@gmail.com'
toaddrs  = 'john.doe@gmail.com'
email = f'''
We have the following inventory:

Machines: 
- count: {int(machines[machines.category == 'Machines'].cnt)}
- average cost: ${int(machines[machines.category == 'Machines'].avg_cost)}

Yours, ACME
'''

server = smtplib.SMTP('smtp.gmail.com:587')
server.starttls()
server.login('username@gmail.com', 'password')
server.sendmail(fromaddr, toaddrs, msg)
server.quit()

In [33]:
print(email)

We have the following inventory:

Machines:
- count: 75
- average cost: $146

Yours, ACME